.fields-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    width: 100%;

    overflow-y: auto;
}

.fields-container::-webkit-scrollbar {
    display: none;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    pointer-events: none;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    position: fixed;
    inset: 0;
    
    z-index: -1;
    pointer-events: none;
    
    transform: scale(1.05);
    filter: blur(0.5rem) brightness(1.1);
}

/* ===== CARD ===== */

.login-form-container {
    width: 90%;
    max-width: 40rem;
    max-height: 70vh;
    
    background-color: var(--color-bg);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    box-sizing: border-box;
    
    box-shadow: var(--shadow);
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;

    pointer-events: all;
    position: relative;
    z-index: 1;
}

/* ===== BUTTONS ===== */

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.9rem;
}

/* ===== BUTTON ===== */

button {
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 0.6rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;
}

button:hover:not(:disabled) {
    opacity: 0.9;
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    position: relative;
}

/* spinner */
button:disabled::after {
    content: "";
    margin-left: 8px;
    width: 14px;
    height: 14px;
    border: 2px solid var(--color-bg);
    border-top: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ===== ERROR ===== */

.error-message {
    color: #ef4444;
    font-size: 14px;
}