.flat-offers-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}

.horizontally-scrollable-offers {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 1rem 1rem 2rem 1rem;
    gap: 1rem;
}

.horizontally-scrollable-offers::-webkit-scrollbar {
    color: black;
    height: .7rem;
    background-color: transparent;
}

.horizontally-scrollable-offers::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 1rem;
}

h1 {
    margin-bottom: 0rem;
}